[Desktop Entry]
Exec=elderwelcome
Icon=elderwelcome
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
NotShowIn=KDE;
StartupNotify=false
Name=Welcome Screen
Comment=Introduction to Elderberry Linux
Name[en_US]=elderwelcome
